# Rename this file to .PROXY.list
# and paste your socks/proxy here
# Format - IP:PORT:Login:Password
# Or IP:PORT only if has no login
# One line - one proxy.  Example:

192.168.21.01:9306:login:password